<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virosample">
    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Required for Recording -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/viro_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ImageTargetListActivity"
            android:label="@string/title_activity_image_target_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".AddTarget"></activity>
        <activity android:name=".CameraTestActivity"></activity>
        <activity android:name=".ArTestActivity" />
        <activity android:name=".SceneListActivity" />
        <activity android:name=".MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.viromedia.API_KEY"
            android:value="API-KEY-HERE" />

        <activity
            android:name=".ViroActivityAR"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>